.our-menu .card{
    border: none !important;
}

.our-menu .card{
    position: relative;
    overflow: hidden;
    background: rgb(185 184 184)
}

.menu-cart-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,1);
    color: #fff;
    z-index: 999;
    padding: 10px 10px 5px 10px;

}

.menu-cart-icon:hover{
    color: #fff;
    background: rgba(0,0,0,0.70);


}